@media not print {
	/* center SVGs */
	#nicermediapages-SVG {
		text-align: center;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	#nicermediapages-SVG {
		background: #333; /* consistent background color for all media pages */
		box-shadow: 0 0 15px #000; /* consistent drop shadows for all media */
	}

	#nicermediapages-body {
		width: 100%;
		height: 100%;
		margin: 0;
		background: #fff; /* pure white background (for transparent images) */
	}

	.hovered #nicermediapages-body {
		background-image: url('data:image/gif;base64,R0lGODlhFAAUAIABAP///wAAACH5BAEKAAEALAAAAAAUABQAAAIojI+gy+jBInhJLnrsxVBP7n1YyHVaSYKhh7Lq+VotPLo1TaW3HEtlAQA7'); /* checkerboard background image (for transparent images, white and transparent squares) */
		background-color: #ddd; /* light gray background (for transparent images, gives the color of transparent squares) */
	}
}