@media not print {
	body {
		background: #333; /* consistent background color for all media pages */
		color: #fff; /* consistent text color for all media pages */
	}

	img.decoded {
		background: #fff; /* pure white background (for transparent images) */
		box-shadow: 0 0 15px #000; /* consistent drop shadows for all media */
	}

	img.decoded:hover {
		background-image: url('data:image/gif;base64,R0lGODlhFAAUAIABAP///wAAACH5BAEKAAEALAAAAAAUABQAAAIojI+gy+jBInhJLnrsxVBP7n1YyHVaSYKhh7Lq+VotPLo1TaW3HEtlAQA7'); /* checkerboard background image (for transparent images, white and transparent squares) */
		background-color: #ddd; /* light gray background (for transparent images, gives the color of transparent squares) */
	}
}